.ink-a {
    .ink-a-js{
        z-index: 0;
        .ink-a-js-lefttop {
            width: 200px;
            transform: translate(calc(-50vw - -120px), calc(-50vh - -30px));
            position: absolute;
            font-size: 20px;
            margin: 0;
            text-transform: capitalize;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            color: white;

            &::after {
                content: "# Multidimensional composer";
                transform: rotate(90deg) translate(190px, 295px);
                position: absolute;
                width: 350px;
                font-weight: 100;
            }
        }

        .ink-a-js-seo {
            display: none;
        }

        .ink-a-js-leftbottom {
            position: absolute;
            text-shadow: -1px 5px 3px rgba(0, 0, 0, 1);
            font-size: 20px;
            transform: rotate(0deg) translate(calc(-50vw - -83px), calc(50vh - 20px));
            margin: 0;
            text-transform: capitalize;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            color: white;

            &::after {
                content: "2022";
                transform: rotate(90deg) translate(115px, 292px);
                position: absolute;
                width: 350px;
                font-weight: 100;
            }

            @media screen and (max-width: 760px) {
                display: none;
            }
        }

        .ink-a-js-up {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;

            transform: translateY(-160px);

            #ink-a-js-up-svg {
                width: 200px;
            }

            .ink-a-js-up-date {
                height: 100px;
            }
        }

        .ink-a-js-img {
            width: 270px;
            z-index: 10;
            position: absolute;
        }


        .ink-a-js-ticket {
            position: absolute;
            width: 65px;
            transform: translate(calc(-50vw - -100px), calc(50vh - 100px));
            border: 1px solid white;
            padding: 10px;

            path {
                fill: white;
            }
        }

        @media screen and (max-width: 760px) {
            .ink-a-js-ticket {
                display: none;
            }
        }
    }

    .ink-a-js-enter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        z-index: 100;
        position: absolute;
        width: 80px;
        height: 80px;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Raleway";
        color: white;
        border: 1px solid white;
        padding: 10px;
        transition: transform 0.5s ease;
        transform: translate(0vw, 30vh) rotate(0deg);

        font-weight: 400;
        letter-spacing: 2px;
        text-align: center;
        color: #00c8ff;
        background-image: -webkit-linear-gradient(92deg, #ffffff, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: hue 20s infinite linear;
        border-color: #67aeff;

        .ink-a-js-enter-span {
            transition: transform 0.5s ease;
            position: absolute;
            content: "enter";
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 2px;
            text-align: center;
            color: #00c8ff;
            background-image: -webkit-linear-gradient(92deg, #ffffff, #ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-animation: hue 20s infinite linear;
            border-color: #67aeff;
        }

        &:hover {
            transform: translate(0vw, 30vh) rotate(45deg);
            border-color: #67aeff;
            color: #67aeff;
            background-image: -webkit-linear-gradient(92deg, #031cbf, #00d0ff);

            .ink-a-js-enter-span {
                transform: rotate(-90deg);
                &.two {
                    transform: rotate(0deg) !important;
                }
            }
        }
    }   
}

@media screen and (min-width: 1450px) {
    .ink-a {
        .ink-a-js-enter {
            transform: translate(0vw, 30vh) rotate(0deg);

            &:hover {
                transform: translate(0vw, 30vh) rotate(45deg);
            }
        }
    }    
}