.ink.b {
    .stars {
        opacity: 0 !important;
        transition: opacity 0.5s ease 0.4s !important;
    }
}

.ink-b-js {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 50px;

    .ink-b-js-img {
        max-height: 40vh;
        max-width: 40vh;
        width: 100%;
        height: 100%;

        background-image: url("../icon/cover/cover-X.webp");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .ink-b-js-enter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        z-index: 100;
        position: absolute;
        width: 80px;
        height: 80px;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Raleway";
        color: white;
        border: 1px solid white;
        padding: 10px;
        transition: all 0.5s ease;
        transform: translate(0vw, 150px) rotate(0deg);

        font-weight: 400;
        letter-spacing: 2px;
        text-align: center;
        color: #24466d;
        background-image: -webkit-linear-gradient(92deg, #ffffff, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: hue 20s infinite linear;
        border-color: #24466d;
        display: none;

        img {
            width: 30px;
            height: auto;
        }

        .ink-b-js-enter-span {            
            transition: all 0.5s ease;
            position: absolute;
            content: "enter";
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 2px;
            text-align: center;
            color: #00c8ff;
            background-image: -webkit-linear-gradient(92deg, #ffffff, #ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-animation: hue 20s infinite linear;
            border-color: #24466d;
        }

        &:hover {
            font-size: 19px;
            transform: translate(0vw, 150px) rotate(45deg);
            border-color: #24466d;
            color: #67aeff;
            background-image: -webkit-linear-gradient(92deg, #031cbf, #5900ff);

            .ink-b-js-enter-span {
                font-size: 19px;
                transform: rotate(-90deg);
                background-image: -webkit-linear-gradient(92deg, #031cbf, #5900ff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-animation: hue 20s infinite linear;
                border-color: #24466d;

                &.two {
                    transform: rotate(0deg) !important;
                }
            }
        }
    }

    .ink-b-js-svg {
        position: absolute;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 2s ease !important;

        svg {
            width: 40px;
            filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=5);
        }

        .ink-b-js-whale-svg {
            fill: url("#whalegradient");
            transition: all 2s ease;

            stop {
                -webkit-transition: 2s ease;
                transition: 2s ease;
            }
        }
    }

    .ink-b-js-sell {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: relative;

        z-index: 20;
        max-width: 40vh;
        width: 100%;
        margin-top: 15vh;

        .ink-b-js-sell-paragraphe {
            text-align: justify;
            font-family: 'Raleway', sans-serif;
            color: white;
            font-size: 14px;
        }

        .ink-b-js-sell-icon {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;

            margin-bottom: 10px;

            .ink-b-js-sell-icon-ep {
                font-size: 150px;
                font-family: 'Black Ops One', cursive;
                color: white;
                text-align: center;
                width: 100%;
                font-weight: 100;
                margin: 0;
                display: none;
            }

            .ink-b-js-sell-icon-title {
                text-align: center;
                font-family: 'Raleway', sans-serif;
                width: 100%;
                margin: 0 0 5px;
                color: white;
                font-size: 12px;
                text-transform: uppercase;
            }

            a {
                text-decoration: none;
                color: white;
                font-size: 0;
                img {
                    height: 6vw;
                    width: 6vw;
                    filter: invert(1);
                }
            }
        }

        .ink-b-js-sell-texte-bouton {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;

            margin-top: 15px;
            background-color: unset;
            padding: 10px 20px;
            position: relative;
            margin: 10px 115px;

            font-weight: 500;
            width: 100%;
            height: 51px;
            border-image-slice: 1;
            border-width: 2px;
            border-image-source: linear-gradient(to left, #67aeff, #153aa0);

            &:last-child {
                margin-bottom: 0 !important;
            }

            &:before {
                content: "";
                background: linear-gradient(to left, #67aeff, #153aa0);
                width: 0;
                height: 48px;
                position: absolute;
                left: 0;
                top: 0;
                transition: all 0.5s ease;
                z-index: 0;
            }

            .ink-b-js-sell-texte-bouton-href {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;

                width: 250px;
                height: 51px;
                margin-top: 22px;

                font-family: 'Raleway', sans-serif;
                position: absolute;
                text-transform: uppercase;
                color: #061a31;
                font-size: 20px;
                font-weight: 300;
                text-decoration: none;
                display: block;
                transition: all 0.5s ease;
                z-index: 10;
                letter-spacing: 0;
            }

            &:hover {
                &::before {
                    width: 100%;
                }

                .ink-b-js-sell-texte-bouton-href {
                    color: white;
                    filter: drop-shadow(5px 5px 4px #000000);
                    letter-spacing: 3px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .ink-b-js-sell-icon {
        img {
            width: 40px !important;
            height: 40px !important;
        }
    }
}
