.ink.b  {
    .ink-a-js-img {
        opacity: 0 !important;
        transition: opacity .5s ease .8s;
    }
    .stars {
        opacity: 0;
    }
    transition: background-color .5s ease .5s;
    background-color: #90a4db !important;
}

.ink-b-js {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 50px;

    .ink-b-js-img {
        max-height: 35vh;
        max-width: 35vh;
        width: 100%;
        height: auto;
    }
    
    .ink-b-js-sell {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: relative;
        z-index: 20;
        width: 35vh;
        margin-top: 10vh;


        .ink-b-js-sell-icon {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;

            margin-bottom: 10px;

            .ink-b-js-sell-icon-title {
                text-align: center;
                font-family: 'Raleway', sans-serif;
                width: 100%;
                margin: 0px 0px 5px 0px;
                color: white;
                font-size: 12px;
                text-transform: uppercase;
            }

            a {
                text-decoration: none;
                color: white;
                font-size: 0px;
                img {
                    height: 6vw;
                    width: 6vw;
                    filter: invert(1);
                }
            }
        }
    
        .ink-b-js-sell-texte-bouton {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
    
            margin-top: 15px;
            background-color: unset;
            padding: 10px 20px;
            position: relative;
            margin: 10px 115px;
    
            font-weight: 500;
            width: 100%;
            height: 51px;
            border-image-slice: 1;
            border-width: 2px;
            border-image-source: linear-gradient(to left, #67aeff, #153aa0);

            &:last-child {
                margin-bottom: 0 !important;
            }
    
            &:before {
                content: "";
                background: linear-gradient(to left, #67aeff, #153aa0);
                width: 0px;
                height: 48px;
                position: absolute;
                left: 0;
                top: 0;
                transition: all .5s ease;
                z-index: 0;
            }
    
            .ink-b-js-sell-texte-bouton-href {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;
    
                width: 250px;
                height: 51px;
                margin-top: 22px;
    
                font-family: 'Raleway', sans-serif;
                position: absolute;
                text-transform: uppercase;
                color: #061a31;
                font-size: 20px;
                font-weight: 300;
                text-decoration: none;
                display: block;
                transition: all .5s ease;
                z-index: 10;
                letter-spacing: 0px;
            }
    
            &:hover {
                &::before {
                    width: 100%;
                }
    
                .ink-b-js-sell-texte-bouton-href {
                    color: white;
                    filter: drop-shadow(5px 5px 4px #000000);
                    letter-spacing: 3px;
                }
            }
        }
    }
}