.ink.c  {
    .ink-a-js-img {
        opacity: 0 !important;
        transition: opacity 1s ease .8s !important;
    }
    
    .stars {
        opacity: 0;
    }

    .ink-b-js-svg { 
        opacity: 1;
        
    }

    .ink-c-js-svg { 
        opacity: 1;
        transition: opacity 2s ease !important;
    }

    .stars {
        opacity: 0 !important;
        transition: opacity 5s ease !important;
    }

    transition: background-color .5s ease !important;
}

.ink-c-js{
    padding: 50px;

    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    align-content: stretch !important;
    align-items: center !important;

    .ink-c-js-title {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 30px;
        color: rgb(4, 19, 68);
        margin: 0;
    }

    .ink-c-js-container {
        width: 100%;

        .ink-c-js-container-social {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;
    
            margin: 15px 0px; 
            margin-bottom: 23px; 
            width: 100%;
    
            &:first-child {
                margin-top: 0;
            }
    
            .ink-c-js-container-social-link {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;
    
                width: 40px;
                height: 40px;
                height: 47px;
                border: 2px solid white;
                color: rgb(4, 19, 68);
                font-size: 0px;

                background-color: unset;
                padding: 10px 10px;
                position: relative;
            
                font-weight: 500;
                width: 20px;
                height: 20px;
                border-image-slice: 1;
                border-width: 2px;
                border-image-source: linear-gradient(to left, #67aeff, #153aa0);
            
                &:before {
                    content: "";
                    background: linear-gradient(to left, #67aeff, #153aa0);
                    width: 0px;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition: all .5s ease;
                    z-index: 0;
                }
                            
                        
                &:hover {
                    &::before {
                        width: 100%;
                    }

                    .ink-c-js-sell-texte-bouton-href {
                        color: white;
                        letter-spacing: 3px;
                    }
                }
    
                img {                
                    width: 20px;
                    height: 20px;
                    filter: invert(1);
                }
            }
        }

        .ink-c-js-container-paragraphe {
            font-family: 'Raleway', sans-serif;
            color: rgb(4, 19, 68);
            text-align: justify;
            display: none;
        }
    } 
    

    .ink-c-js-svg {
        position: absolute;
        width: 100px;
        color: #ffffff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
                
        opacity: 1 !important;
        transition: opacity 2s ease !important;

        svg {
            filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=5);
        }
    }

    .next-button {            
        border-color: #031fbf !important;
        background-image: -webkit-linear-gradient( 92deg, #031fbf, #ffffff) !important;
    }
}


@media screen and (min-width: 1450px) {
        .ink-c-js {
            display: flex !important;
            flex-direction: row !important;
            flex-wrap: nowrap !important;
            justify-content: center !important;
            align-content: stretch !important;
            align-items: center !important;

            .ink-c-js-container {
                height: 45vh !important;
                width: 20vw !important;

                &:nth-of-type(1) {
                    transform: translateX(-10vw);
                }

                &:nth-of-type(2) {
                    transform: translateX(10vw);
                    margin-bottom: 0 !important;
                }
            }

            .ink-c-js-svg {
                width: 270px;
            }
        }

        .ink-c-js-container-paragraphe {
            display: flex !important;
        }

}