.ink.d {
    .ink-a-js-img {
        opacity: 0 !important;
        transition: none !important;
    }

    .ink-b-js-svg {
        opacity: 0 !important;
    }

    .ink-c-js-svg {
        opacity: 0 !important;
    }
    
    .stars {
        opacity: 1;
        transition: opacity 2s ease !important;
    }

    transition: background-color .5s ease !important;
}

.ink-d-js {
    padding: 50px;
    flex-direction: column !important;

    .action-bouton {
        a {
            color: white !important;
        }
    }

    .next-button {
        &:before {
            filter: invert(1) !important;
        }
        &:after {
            filter: invert(1) !important;
        }
    }

    .ink-d-js-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: flex-start;

        height: calc(100% - 200px);
        width: 100%;
        max-width: 50vw;
    }

    .ink-d-js-svg {
        position: absolute;
        width: 120px;
        z-index: 9;
    }

    .ink-d-js-sell {
        width: auto;
        position: absolute;
        transform: translateX(25vw) !important;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        p {
            font-size: 26px;
            text-align: center;
            font-weight: bold;
            font-family: 'Raleway', sans-serif;
            text-transform: uppercase;
            color: red;
        }
    }

    .ink-d-js-shirt-img {
        height: 80vh;
        width: auto;
        position: absolute;
        z-index: 10;
        transform: translateX(-25vw);

        img {
            width: 100%;
            height: 100%;
        }
    }

    
    .ink-d-js-sell {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: relative;

        z-index: 20;
        max-width: 40vh;
        width: 100%;

        .ink-d-js-sell-paragraphe {
            text-align: justify;
            font-family: 'Raleway', sans-serif;
            color: white;
            font-size: 14px;
            text-transform: none !important;
            font-weight: 100;
        }

        .ink-d-js-sell-icon {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            color: white !important;

            margin-bottom: 10px;

            .ink-d-js-sell-icon-ep {
                font-size: 150px;
                font-family: 'Playfair Display', serif;
                color: white !important;
                text-align: center;
                width: 100%;
                font-weight: 100;
                margin: 0;
                display: none;
            }

            .ink-d-js-sell-icon-title {
                text-align: center;
                font-family: 'Raleway', sans-serif;
                width: 100%;
                margin: 0 0 5px;
                color: white !important;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: normal;
            }

            a {
                text-decoration: none;
                color: white;
                font-size: 0;
                img {
                    height: 6vw;
                    width: 6vw;
                    filter: invert(1);
                }
            }
        }       
    }


    
    @media screen and (max-width: 1450px) {
        .ink-d-js-shirt-text {
            transform: translateY(20vw) !important;
        }
        .ink-d-js-sell-icon {
            display: none !important;
        }
        .ink-d-js-shirt-img {
            transform: translate(.5vw, 29.5vh);    
            height: 45vh !important;
            width: 45vh !important;;

            img {
                width: 100%;
                height: 100%;
            }
        }
        .ink-d-js-sell-paragraphe {
            display: none;
        }
        .ink-d-js-sell {
            top: 50px;
            position: absolute !important;
            transform: none !important;
        }
    }

    @media screen and (max-width: 1500px) {
        .ink-d-js-shirt-img {
            height: 60vh;

            p {
                font-size: 15px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .ink-d-js-svg {
            width: 90px;
        }
        .ink-d-js-shirt-img {
            transform: translate(1vw, 23vh) !important;
            height: 35vh !important;
            width: 35vh !important;
        }
    }

}