.ink-e-js {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 50px;

    .ink-e-js-svg {
        width: 100px;
        height: auto;
        z-index: 20;
        position: absolute;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .ink-e-js-carousel {
        position: absolute;
        overflow: hidden;
        height: 100vh;
        width: 80vw;
        max-width: 600px;

        .ink-e-js-carousel-container {
            overflow: hidden;

            position: relative;
            margin: 0 auto;
            max-width: 80vw;
            height: 100%;

            &:after,
            &:before {
                content: "";
                display: block;
                padding-bottom: 66.5%;
            }

            &:before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 40px;
                right: 40px;
            }

            .ink-e-js-carousel-container-label {
                z-index: 3;
                display: none;
                height: 100px !important;
                position: absolute;
                top: 75vw;
                font-size: 0;
                transition: transform 0.325s ease;
                cursor: pointer;

                top: 50%;
                width: 50px;

                transform: translate3d(15%, -50%, 0);
                background: transparent;

                &:after,
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                }

                &:before {
                    left: 0 !important;
                    width: 47px !important;
                    height: 1px;
                    background: black;
                    left: 0;
                    width: 100%;
                }

                &:after {
                    transform: translateY(-45%);
                    left: 0;
                    width: 0;
                    height: 0;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-right: 6px solid #333;
                }

                &:hover {
                    transform: translate3d(0%, -50%, 0);
                }
            }

            .ink-e-js-carousel-container-radio {
                display: none;

                &:checked+.ink-e-js-carousel-container-item {
                    z-index: 3;
                    position: relative;
                }

                &:checked+.ink-e-js-carousel-container-item > .ink-e-js-carousel-container-item-logo {
                    transform: translate3d(0, 50px, 0);
                }

                &:checked+.ink-e-js-carousel-container-item > .ink-e-js-carousel-container-item-text {
                    transform: translate3d(0, 10px, 0);
                }

                &:checked+.ink-e-js-carousel-container-item {
                    position: absolute;
                }
            }

            //Fleche de Gauche
            #story-0:checked~#label-3,
            #story-1:checked~#label-0,
            #story-2:checked~#label-1,
            #story-3:checked~#label-2 {
                display: block;
            }

            //Fleche de Droite
            #story-0:checked~#label-1,
            #story-1:checked~#label-2,
            #story-2:checked~#label-3,
            #story-3:checked~#label-0 {
                display: block;
                right: 0;
                transform: translate3d(0, -50%, 0);
            }

            //Triangle de fleche droite déplacée 
            #story-0:checked~#label-1:after,
            #story-1:checked~#label-2:after,
            #story-2:checked~#label-3:after,
            #story-3:checked~#label-0:after {
                left: auto;
                right: 0px;
                border-left: 6px solid #333;
                border-right: none;
            }



            .ink-e-js-carousel-container-item {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;
                overflow: hidden;
                width: 100%;
                position: absolute !important;
                top: 0;

                .ink-e-js-carousel-container-item-logo,
                .ink-e-js-carousel-container-item-text {
                    transition: transform 1.5s ease;
                }

                .ink-e-js-carousel-container-item-logo {
                    transform: translate3d(0, -100vh, 0);
                }

                .ink-e-js-carousel-container-item-text {
                    transform: translate3d(0, 100vh, 0);
                    padding: 2em;
                    vertical-align: middle;
                }
            }

            .ink-e-js-carousel-container-item-logo {
                margin: 0;
                background-size: cover;
                transform: translate3d(-100%, 0, 0);
                height: 38vh;
                width: 100%;
                max-width: 80vw;

                @media screen and (min-width: 800px) {
                    max-width: 45vw;

                    #icon {
                        width: 70%;
                    }
                  }

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-content: center;
                align-items: center;

                svg {
                    width: 100% !important;
                    height: 100% !important;
                    object-fit: contain !important;
                }
            }

            .ink-e-js-carousel-container-item-text {
                position: relative;
                transform: translate3d(100%, 0, 0);
                text-align: center;
                padding: 0;
                width: 100%;
                height: 55vh;

                font-family: 'Raleway', sans-serif;
                color: black;
                display: flex !important;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-content: center;
                align-items: center;

                .story__summary {
                    width: 100%;
                    max-width: 500px;
                    margin-right: auto;
                    margin-left: auto;
                    text-align: justify;
                    line-height: 14px;
                    font-size: 15px;
                }

                .story__title {
                    margin: 0 !important;
                    font-size: 50px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 100;
                }
            }
        }
    }

    @media screen and (max-width: 1960px) {
        .ink-e-js-carousel-container-item-text {
            height: 40vh;
            width: 100%;
        }
        .ink-e-js-carousel-container-item-logo {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;

            height: 38vh !important;
            width: 100%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .ink-e-js-carousel {
        max-width: none !important;
        width: 100vw !important;
    }

    .ink-e-js-carousel-container-item {
        flex-direction: row !important;
        height: 100% !important;
    }

    .ink-e-js-carousel-container-item-logo {
        display: flex !important;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        width: 50vw !important;
        height: 100vh !important;

        svg {
            width: 100% !important;
            height: 100% !important;
            object-fit: contain !important;
        }
    }

    .ink-e-js-carousel-container-item-text {
        width: 30vw !important;
        height: auto !important;
    }

    .ink-e-js-carousel-container-radio {
        display: none;

        &:checked+.ink-e-js-carousel-container-item {
            z-index: 3;
            position: relative;
        }

        &:checked+.ink-e-js-carousel-container-item > .ink-e-js-carousel-container-item-logo {
            transform: translate3d(0, 0px, 0) !important;
        }

        &:checked+.ink-e-js-carousel-container-item > .ink-e-js-carousel-container-item-text {
            transform: translate3d(0, 0px, 0) !important;
        }
    }

    .ink-e-js-carousel-container {

        #story-0:checked~#label-1,
        #story-1:checked~#label-2,
        #story-2:checked~#label-3,
        #story-3:checked~#label-0 {
            right: 40px;
            transform: translate3d(-25vw, 30vh, 0) !important;
        }

        #story-0:checked~#label-1:hover,
        #story-1:checked~#label-2:hover,
        #story-2:checked~#label-3:hover,
        #story-3:checked~#label-0:hover {
            transform: translate3d(-24vw, 30vh, 0) !important;
        }

        #story-0:checked~#label-3,
        #story-1:checked~#label-0,
        #story-2:checked~#label-1,
        #story-3:checked~#label-2 {
            display: block;
            transform: translate3d(26vw, 30vh, 0) !important;
        }

        #story-0:checked~#label-3:hover,
        #story-1:checked~#label-0:hover,
        #story-2:checked~#label-1:hover,
        #story-3:checked~#label-2:hover {
            display: block;
            transform: translate3d(25vw, 30vh, 0) !important;
        }
    }
}
