@mixin huebutton {
    -webkit-animation: huebutton 6s infinite linear;
    border-color: #0064cf;
    border-style: solid;

    &:before {
        content: "";
        background: linear-gradient(to left, #67aeff, #082e97);
        transition: all 0.5s ease;

    }

    @-webkit-keyframes huebutton {
        from {
            -webkit-filter: hue-rotate(-15deg);
        }

        50% {
            -webkit-filter: hue-rotate(40deg);
        }

        to {
            -webkit-filter: hue-rotate(-15deg);
        }
    }
}

.ink-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    width: 300px;
    height: 40px;
    z-index: 100;
    transition: all 1.2s ease;
    bottom: -45px !important;

    .ink-nav-ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        height: 100%;
        width: 100%;

        .ink-nav-ul-li {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;

            width: 40px;
            height: 40px;
            box-sizing: border-box;
            background: #ffffff00;


            &:hover {
                .ink-nav-ul-li-font {
                    right: -56px;
                p {
                    transform: translateX(0) !important;
                }
            }
            }

            .border {
                width: 45px;
                height: 2px;
                border: 0 solid white;
                background-color: white;

                position: absolute;
                transition: width 0.4s ease 0.6s, height 0.5s ease, all 0.5s ease;
            }

            .ink-nav-ul-li-font {
                width: 100px;
                height: 20px;
                position: absolute;
                right: -93px;
                top: 0;
                overflow: hidden;
                transition: right 1s ease ,top 1s ease 1s;

                p {
                    position: absolute;
                    top: 0;
                    margin: 0;
                    font-family: 'Raleway';
                    color: white;
                    font-size: 12px;
                    text-transform: uppercase;
                    transition: all 0.4s ease 0s;
                    width: fit-content;
                    transform: translateX(-100px);
                }
            }

            a {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;

                width: 40px;
                height: 40px;
                position: absolute;
                display: flex;
                font-size: 0;
                bottom: 5px;
            }
        }
    }
}

.b,
.c,
.d,
.e,
.f {
    .ink-nav {
        bottom: -0px !important;
    }
}

@each $key, $value in ('.a': 1, '.b': 2, '.c': 3,'.d': 4,'.e': 5,'.f': 6) {
    #{$key} {
        .ink-nav-ul-li {
            &:nth-of-type(#{$value}) {
                .border {
                    width: 20px;
                    height: 30px;
                    background: #ffffff00;
                    border: 2px solid white;
                    transition: width 0.4s ease 0.6s, height 0.5s ease, all 0.5s ease;

                    -webkit-background-clip: text;
                    -webkit-animation: huebutton 12s infinite linear;
                    border-color: #7e67ff;
                }

                .ink-nav-ul-li-font {
                    transition: right .5s ease,top 1s ease 2s;
                    right: -95px;
                    top: 24px;

                    p {
                        opacity: 1 !important;
                        transition: all 0.8s ease 0.8s;
                        transform: translateX(0px) !important;
                    }
                }
            }
        }
    }
  }



