.ink.a {
    .ink-a-js-img {
        opacity: 1 !important;
    }
}

.ink.b {
    .stars {
        opacity: 0 !important;
        transition: opacity 3s ease !important;
    }
    .ink-a-js-img {
        opacity: 1 !important;
    }
}

.ink.c  {
    .ink-a-js-img {
        opacity: 0 !important;
        transition: opacity 1s ease .8s !important;
    }

    .stars {
        opacity: 0 !important;
    }

    .ink-b-js-svg { 
        opacity: 1 !important;
        
    }

    .ink-c-js-svg { 
        opacity: 1 !important;
        transition: opacity 2s ease !important;
    }

    .stars {
        opacity: 0 !important;
        transition: opacity 5s ease !important;
    }

    transition: background-color .5s ease !important;
}

.ink.d {
    .ink-a-js-img {
        opacity: 0 !important;
        transition: none !important;
    }

    .ink-b-js-svg {
        opacity: 0 !important;
    }

    .ink-c-js-svg {
        opacity: 0 !important;
    }
    
    .stars {
        opacity: 1;
        transition: opacity 2s ease !important;
    }

    transition: background-color .5s ease !important;
}

.ink.e {

    .ink-a-js-img {
        opacity: 0 !important;
        transition: opacity 0s ease !important;
    }

    .ink-b-js-svg {
        opacity: 0 !important;
    }

    .ink-c-js-svg {
        opacity: 0 !important;
    }

    .stars {
        opacity: 1;
        transition: opacity 2s ease !important;
    }

    transition: background-color 0.5s ease !important;
}
