html {
    overflow-x: hidden;
    color: red !important;
}

body {
    margin: 0;
    height: 600vh;
}

main {
    display: flex;
    position: relative;
    width: 100%;
    
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    overflow: hidden;
    background-color: black;
}

/*  BALISE SECTION PREMIER CONTENANT */
section {
    //height: 83vh;
    height: 100vh;
    width: 100%;
}

/*  FIN BALISE SECTION PREMIER CONTENANT */
/*  GSAP ACTIF DEUXIEME CONTENANT */
.ink-a-js,
.ink-b-js,
.ink-c-js,
.ink-e-js,
.ink-d-js,
.ink-e-js,
.ink-f-js {
    height: 100vh;
    width: 100vw;
    position: fixed;
    box-sizing: border-box;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@import 'a';
@import 'b';
@import 'c';
@import 'd';
@import 'e';
@import 'nav';
@import 'stars';


.ink-b-js-sell-paragraphe {
    display: none;
}

@media screen and (min-width: 1450px) {

    .ink-b-js-img {
        position: absolute !important;
        left: 10vw !important;
        width: 30vw !important;
        height: 30vw !important;
        max-height: none !important;
        max-width: none !important;
    }

    .ink-b-js-sell {
        position: absolute !important;
        right: 20vw !important;
        margin-top: 0vh !important;
    }

    .ink-b-js-sell-paragraphe {
        display: flex !important;
    }

    .ink-b-js {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        justify-content: center !important;
        align-content: stretch !important;
        align-items: center !important;
    }
  }

