html {
    overflow-x: hidden;
    color: red !important;
}

body {
    margin: 0;
    height: 600vh;
}

main {

    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    overflow: hidden;
}

/*  BALISE SECTION PREMIER CONTENANT */
section {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

/*  FIN BALISE SECTION PREMIER CONTENANT */
/*  GSAP ACTIF DEUXIEME CONTENANT */
.ink-a-js,
.ink-b-js,
.ink-c-js,
.ink-e-js,
.ink-d-js,
.ink-e-js,
.ink-f-js {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

