@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:wght@600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    overflow-x: hidden;
    color: red !important;
}

body {
    margin: 0;
    height: 600vh;
}

main {
    display: flex;
    position: relative;
    width: 100%;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    overflow: hidden;
    background-color: black;
}

/*  BALISE SECTION PREMIER CONTENANT */
section {
    //height: 83vh;
    height: 100vh;
    width: 100%;
}

/*  FIN BALISE SECTION PREMIER CONTENANT */
/*  GSAP ACTIF DEUXIEME CONTENANT */
.ink-a-js,
.ink-b-js,
.ink-c-js,
.ink-e-js,
.ink-d-js,
.ink-e-js,
.ink-f-js {
    height: 100vh;
    width: 100vw;
    position: fixed;
    box-sizing: border-box;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@import 'a';
@import 'b';
@import 'c';
@import 'd';
@import 'e';
@import 'nav';
@import 'stars';


.ink-b-js-sell-paragraphe {
    display: none;
}

@media screen and (min-width: 1450px) {
    .ink-a {
        .ink-a-js-enter {
            transform: translate(0vw, 12vw) rotate(0deg);

            &:hover {
                transform: translate(0vw, 12vw) rotate(45deg);
            }
        }
    }

    .ink-b {
        .ink-b-js-img {
            position: absolute !important;
            left: 10vw !important;
            width: 30vw !important;
            height: 30vw !important;
            max-height: none !important;
            max-width: none !important;
        }

        .ink-b-js-sell {
            position: absolute !important;
            transform: translateX(25vw) !important;
            margin-top: 0vh !important;
        }

        .ink-b-js-sell-paragraphe {
            display: flex !important;
        }

        .ink-b-js {
            display: flex !important;
            flex-direction: row !important;
            flex-wrap: nowrap !important;
            justify-content: center !important;
            align-content: stretch !important;
            align-items: center !important;
        }

        .ink-b-js-sell-icon-ep {
            display: block !important;
        }

        .ink-b-js-enter {
            font-size: 0px !important;
            display: flex !important;
            transform: translate(0vw, 12vw) rotate(0deg);

            &:hover {
                transform: translate(0vw, 12vw) rotate(45deg);
            }
        }
    }

    .ink-c {
        .ink-c-js {
            display: flex !important;
            flex-direction: row !important;
            flex-wrap: nowrap !important;
            justify-content: center !important;
            align-content: stretch !important;
            align-items: center !important;

            .ink-c-js-container {
                height: 30vh !important;
                width: 20vw !important;

                &:nth-of-type(1) {
                    transform: translateX(-10vw);
                }

                &:nth-of-type(2) {
                    transform: translateX(10vw);
                    margin-bottom: 0 !important;
                }
            }

            .ink-c-js-social {
                margin-top: 0 !important;
            }

            .ink-c-js-svg {
                width: 270px;
            }
        }

        .ink-c-js-enter {
            font-size: 0px !important;
            display: flex !important;
            top: 36.5vw !important;
            right: 50% !important;
            transform: translate(50%, -50%) !important;

            &:hover {
                transform: translate(50%, -50%) rotate(45deg) !important;
            }
        }

        .ink-c-js-container-paragraphe {
            display: flex !important;
        }

    }

    .ink-d {
        .ink-d-js-enter {
            display: flex !important;
            font-size: 0px !important;
            transform: translate(0vw, 12vw) rotate(0deg);

            &:hover {
                transform: translate(0vw, 12vw) rotate(45deg);
            }
        }
    }
}