&.first {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    .content-part-first-one {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        position: relative;
        padding: 10px;

        .content-part-first-one-wave {
            position: absolute;
            z-index: 10;
            overflow: hidden;
            width: 60%;
            height: 100%;
            border: 20px solid #1e2026;
            transform: translate(35%, 5%);
            filter: drop-shadow(20px 10px 20px #000000);

            .content-part-first-one-wave-container {
                position: absolute;
                background-image: url("../img/darkwater.jpg");
                background-size: cover;
                height: 120%;
                width: 120%;
                top: -5%;
                left: -10%;
                filter: url("#wave");
                padding: 0;
            }
        }

        .content-part-first-one-wave-container-svg {
            position: absolute;
        }

        .content-part-first-one-img {
            height: 70vh;
            filter: drop-shadow(8px 5px 20px #000000);
            z-index: 100;
        }

        .content-part-first-one-texte {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;

            filter: drop-shadow(5px 3px 1px #000000);
            z-index: 100;

            .content-part-first-one-texte-titre {
                font-family: "FontLight";
                font-size: 35px;
                margin-top: 20px;
            }

            .content-part-first-one-texte-img {
                height: 100px;
            }

            .content-part-first-one-texte-slogan {
                font-family: "FontLight";
                line-height: 20px;
                font-size: 20px;
                line-height: 25px;
                width: 300px;
                text-align: center;
                font-weight: 100;
                margin-top: 20px;
            }



            .content-part-first-one-texte-bouton {
                margin-top: 15px;
                background-color: unset;
                padding: 10px 20px;

                font-weight: 500;
                width: 80%;
                border-image-slice: 1;
                border-width: 2px;
                border-image-source: linear-gradient(to left, #67aeff, #153aa0);

                .content-part-first-one-texte-bouton-href {
                    font-family: "FontLight";
                    text-transform: uppercase;
                    color: #67aeff;
                    font-size: 20px;
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }
    }
}

@media screen and (max-width: 2000px) {
    .content-part-first-one-img {
        height: 70vh !important;
    }
}

@media screen and (max-width: 1500px) {

    .content-part-first-one-img {
        height: 550px !important;
    }

    &.first {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        justify-content: space-around !important;
        align-content: stretch !important;
        align-items: center !important;
    }
}

@media screen and (max-width: 950px) {

    .content-part-first-one-img {
        height: 280px !important;
    }

    .content-part-first-one-texte {
        margin-left: 50px !important;
    }


    .content-part-first-one-texte-img {
        height: 80px !important;
    }

    .content-part-first-one-wave {
        width: 110% !important;
        height: 105% !important;
        transform: translate(0%, 0%) !important;
    }
}

@media screen and (max-width: 768px) {
    .content-part-first-one {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        justify-content: center !important;
        align-content: stretch !important;
        align-items: center !important;
    }

    .content-part-first-one-texte {
        margin-left: 0px !important;
    }

    .content-part-first-one-wave {
        width: 90vw !important;
        height: 80vh !important;
        transform: translate(0%, 0%) !important;
        filter: drop-shadow(20px 10px 20px #000000) !important;
    }

    .content-part-first-one-img {
        height: 40vh !important;
    }

    .content-part-first-one-texte-slogan {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    
    .content-part-first-one-img {
        height: 55vw !important;
    }

    .content-part-first-one-texte-titre {
        font-size: 30px !important;
    }

    .content-part-first-one-texte-bouton {
        padding: 5px 20px !important;
    }
}

@media screen and (max-width: 400px) {
    .content-part-first-one-img {
        height: 60vw !important;
    }

    .content-part-first-one-texte-img {
        height: 50px !important;
    }
}

@media screen and (max-height: 600px) {
    .content-part-first-one-img {
        height: 200px !important;
    }

    .content-part-first-one-texte-slogan {
        display: none;
    }

    .content-part-second {
        width: 500px !important;
        .content-part-second-texte {
            flex-direction: row !important;
            .content-part-second-texte-img {
                height: 150px !important;
                margin-left: 20px;
            }
        }
    }

    .content-part-third-list-item-titre {
        font-size: 35px !important;
    }

}