@font-face {
    font-family: "FontLight";
    src: url("../font/josefin/JosefinSans-Light.ttf"),
}

@font-face {
    font-family: "FontExtraLight";
    src: url("../font/josefin/JosefinSans-ExtraLight.ttf"),
}
