/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #171418;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(7, 35, 92);
    background: linear-gradient(0deg, rgba(7, 35, 92, 1) 0%, rgba(8, 67, 138, 1) 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}